<a class="btn btn-light d-inline-flex align-items-center" onclick="window.history.back();">
  <img src="/svg/back.svg" alt="Back" style="width: 24px; height: 24px;">
</a>
<a class="btn btn-light d-inline-flex align-items-center" href="/">
  <img src="/svg/home.svg" alt="Home" style="width: 24px; height: 24px;">
</a>