<a class="btn btn-light d-inline-flex align-items-center" onclick="window.history.back();">
  <img src="/svg/back.svg" alt="Back" class="menu-button">
</a>
<a class="btn btn-light d-inline-flex align-items-center" href="/">
  <img src="/svg/home.svg" alt="Home" class="menu-button">
</a>