<form action="<%= url %>" method="GET" class="input-group" id="searchForm">
  <input type="text" class="form-control" name="key" placeholder="Search..." aria-label="Search"
    aria-describedby="search-button">
  <button class="btn btn-light d-flex align-items-center" type="submit" id="search-button">
    <img src="/svg/search.svg" alt="Search" class="me-1">Search</button>
</form>