<div class="container mt-5 mb-5">
  <div class="row align-items-center">
    <div class="col-auto">
      <%- include('./main_buttons.ejs') %>
    </div>
    <div class="col">
      <%- include('./search.ejs', { url: search_url }) %>
    </div>
  </div>
</div>
