<div class="col-md-3">
  <a href="<%= link %>" class="text-decoration-none text-reset fw-normal">
    <div class="card text-center">
      <img src="<%= displayIcon %>" alt="<%= displayName %>" class="card-img-top" />
      <div class="card-body text-center">
        <h5 class="card-title">
          <%= displayName %>
        </h5>
      </div>
    </div>
  </a>
</div>