<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <div class="bg-image"></div>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
