<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs') %>
      <title>Valorant Armory</title>
  </head>

  <body>
    <div class="bg-image"></div>

    <section class="container vertical-center">
      <div class="row">
        <% const cards = [
          {
            image: {
              src: '/images/skins-by-weapon.jpeg',
              alt: 'Group by Weapons'
            },
            title: 'Group by Weapons',
            description: 'Explore skins organized by different weapons.',
            href: '/weapons',
            buttonText: 'Browse Weapons'
          },
          {
            image: {
              src: '/images/skins-by-variant.jpeg',
              alt: 'Group by Themes'
            },
            title: 'Group by Skin Themes',
            description: 'Discover skins sorted by unique themes and styles.',
            href: '/skin_themes',
            buttonText: 'Browse Themes'
          },
          {
            image: {
              src: '/images/all-skins.jpeg',
              alt: 'View All Skins'
            },
            title: 'View All Skins',
            description: 'Scroll through our entire collection of skins.',
            href: '/skins',
            buttonText: 'Browse All Skins'
          }
        ];%>
        <% cards.forEach(card => { %>
          <%- include('../partials/cards/large.ejs', card) %>
        <% }); %>
      </div>
    </section>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/main.js"></script>
  </body>

</html>