<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs') %>
      <title>Weapons List</title>
  </head>

  <body>
    <div class="bg-image"></div>
    <div class="container">
      <h1 class="text-center gallery-title">Weapons Gallery</h1>

      <%- include('../partials/search.ejs', { url: current_path }) %>

      <div class="row mt-2">
        <% weapons.forEach(weapon=> { %>
          <%- include('../partials/cards/base.ejs', {
            className: 'weapon-card',
            data_attr_name: 'weapon-name',
            data_attr_val: weapon.name,
            displayIcon: weapon.image,
            displayName: weapon.name
          }) %>
        <% }); %>
      </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/main.js"></script>
  </body>

</html>